*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    background-color:gray ;
    padding: 30px;   
    font-size: 30px; 
    color: white;
    text-align: center;
            }

    section{
       display: grid;
       grid-template-columns: auto auto auto;
    }

   nav{
       grid-column: 2/5;
        background-color: #ccc;
        padding: 20px;
    }

